# To cleanup all these files from your local repo run:
# $ git clean -fdX

# Files created by autogen.sh
/Makefile.in
/src/Makefile
/src/Makefile.in
/tests/Makefile
/tests/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing
/compile

# Files created by configure
/Makefile
/config.log
/config.status
/src/Makefile
/src/fits/Makefile
/src/catalog/.dirstamp

# Build objects and targets
*.o
/src/scamppoc
/tests/testChealpixNeighboursNest
/tests/testSingleCatCrossmatch
/src/.deps/
/tests/.deps/
/src/catalog/.deps/
/src/catalog/fits/.deps/
/src/catalog/fits/libfits.a
.dirstamp
/.deps
